body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.container {
    margin-top: 20px;
}

.table-container {
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 10px;
    text-align: center;
}

.table-container thead {
    background: lightgray;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #333; /* Establece un borde con grosor de 1px */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
    width: 50%; /* Establece el ancho del contenedor del formulario */
    margin-left: auto;
    margin-right: auto;
}


.form-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-container .form-text-danger {
    color: #dc3545;
}

